* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: max(3vw, 2.5rem);
}

h2 {
  font-size: max(2vw, 2rem);
}

h3 {
  font-size: max(1.8vw, 1.5rem);
}

h4 {
  font-size: max(1.6vw, 1.3rem);
}

h5 {
  font-size: max(1.4vw, 1.2rem);
}

h6 {
  font-size: max(1.2vw, 1.1rem);
}

p {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Header & nav */

header {
  background-image: linear-gradient(to left, rgb(255, 162, 122), rgb(255, 122, 122));
  padding: 0px;

}

#header-wrapper {
  max-width: 1000px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  text-align: center;
}

#title-container {
  padding-top: 20px;
  margin-bottom: 0px;
}


nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-size: 1.5rem;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
}

/* main */

.page-wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

.page-section {
  margin-top: 30px;
}

.page-section h2 {
  padding-right: 1px;
}

/* About me section */

#about {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
  grid-template-areas:
    "aboutH2 aboutEG1"
  ;
}

#about h2 {
  grid-area: aboutH2;
  border-right: #ff7a7a solid 3px;
}

#aboutEG1 {
  grid-area: aboutEG1;
}

/* Work section */


#work {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 400px 200px 200px;
  gap: 20px;
  grid-template-areas:
    "workH2 workEG1 workEG1"
    "workH2 workEG2 workEG3"
    "workH2 workEG4 workEG5"
  ;
}

.work-heading {
  background-image: linear-gradient(to left, rgb(255, 162, 122, 0.7), rgb(255, 122, 122, 0.7));
  padding: 20px 20px 20px 10px;
}

.work-box {
  background-position: center;
  background-repeat: no-repeat;
  border: #ff7a7a solid 3px;
  display: grid;
  align-content: end;
}

#work h2 {
  grid-area: workH2;
  border-right: #ff7a7a solid 3px;
}

#workEG1 {
  grid-area: workEG1;
  background-image: url(../images/02-portfolio-1.jpg);
}

#workEG2 {
  grid-area: workEG2;
  background-image: url(../images/02-portfolio-2.jpg);
}

#workEG3 {
  grid-area: workEG3;
  background-image: url(../images/02-portfolio-3.jpg);
}

#workEG4 {
  grid-area: workEG4;
  background-image: url(../images/02-portfolio-4.jpg);
}

#workEG5 {
  grid-area: workEG5;
  background-image: url(../images/02-run-buddy.jpg);
}

/* Contact me section */

#contact {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
  grid-template-areas:
    "contactH2 contactEG1"
  ;
}

#contact h2 {
  grid-area: contactH2;
  border-right: #ff7a7a solid 3px;
}

#contactEG1 {
  grid-area: contactEG1;
}

#contact a:hover {
  color: #ff7a7a;
}

#contactEG1 li {
  list-style: none;
  padding-bottom: 5px;
}



/* Footer */

footer {
  background-color: rgb(16, 16, 16);
  height: 150px;
  color: #ff7a7a;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}


@media screen and (max-width: 426px) {
  #work {
    display: flex;
    flex-direction: column;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #about h2 {
    border-bottom: #ff7a7a solid 3px;
    border-right: none;
  }

  #work h2 {
    border-bottom: #ff7a7a solid 3px;
    border-right: none;
  }

  #contact h2 {
    border-bottom: #ff7a7a solid 3px;
    border-right: none;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to left, rgb(255, 162, 122), rgb(255, 122, 122));
    padding: 0px;
  }

  #title-container,
  h1 {
    font-size: 1.8rem;
  }

  #title-container,

  h2 {
    font-size: 1.5rem;
  }

  nav {
    height: 100%;
    padding-top: 1em;
  }

  nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0.75em;
    font-size: 1.25rem;
  }

  .work-box {
    height: 150px;
  }

}


@media screen and (max-width: 769px) and (min-width: 427px) {

  #title-container,
  h1 {
    font-size: 1.8rem;
  }

  #title-container,

  h2 {
    font-size: 1.5rem;
  }

  nav {
    height: 100%;
    padding-top: 1em;
  }

  nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0.75em;
    font-size: 1.25rem;
  }

  #work {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    grid-template-rows: 250px 200px 200px;
    gap: 20px;
    grid-template-areas:
      "workH2 workEG1 workEG1"
      "workH2 workEG2 workEG3"
      "workH2 workEG4 workEG5"
    ;
  }

  .page-section h2 {
    font-size: 1.5rem;
    padding: 4px;
  }
}