* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Header & nav */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa27a;
  padding: 0px;
  height: 150px;
}

header img {
  background-image: url(../images/lewis-ingleton.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
}

#title-container {
  background-image: linear-gradient(to left, #ffa27a, #ff7a7a);
  padding: 20px;
  border-radius: 0px 4px 4px 0px;
}

nav {
  background-image: linear-gradient(to right, #ffa27a, #ff7a7a);
  height: 100%;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-size: 1.75rem;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
}

/* main */

.page-wrapper {
  width: 80%;
  margin: 30px auto;
}

.page-section {
  margin-top: 30px;
}

/* About me section */

#about {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px;
  gap: 40px;
  grid-template-areas:
    "aboutH2 aboutEG1"
  ;
}

#about h2 {
  grid-area: aboutH2;
  border-right: #ff7a7a solid 3px;
}

#aboutEG1 {
  grid-area: aboutEG1;
}

/* Work section */


#work {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 200px 200px 200px 200px;
  gap: 20px;
  grid-template-areas:
    "workH2 workEG1 workEG1"
    "workH2 workEG1 workEG1"
    "workH2 workEG2 workEG3"
    "workH2 workEG4 workEG5"
  ;
}

.work-heading {
  background-image: linear-gradient(to left, rgb(255, 162, 122, 0.7), rgb(255, 122, 122, 0.7));
  padding: 20px 20px 20px 10px;
}

.work-box {
  background-position: center;
  background-repeat: no-repeat;
  border: #ff7a7a solid 3px;
  display: grid;
  align-content: end;
}

#work h2 {
  grid-area: workH2;
  border-right: #ff7a7a solid 3px;
}

#workEG1 {
  grid-area: workEG1;
  background-image: url(../images/02-portfolio-1.jpg);
}

#workEG2 {
  grid-area: workEG2;
  background-image: url(../images/02-portfolio-2.jpg);
}

#workEG3 {
  grid-area: workEG3;
  background-image: url(../images/02-portfolio-3.jpg);
}

#workEG4 {
  grid-area: workEG4;
  background-image: url(../images/02-portfolio-4.jpg);
}

#workEG5 {
  grid-area: workEG5;
  background-image: url(../images/02-run-buddy.jpg);
}

/* Contact me section */

#contact {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px;
  gap: 40px;
  grid-template-areas:
    "contactH2 contactEG1"
  ;
}

#contact h2 {
  grid-area: contactH2;
  border-right: #ff7a7a solid 3px;
}

#contactEG1 {
  grid-area: contactEG1;
}

/* Footer */

footer {
  background-color: rgb(16, 16, 16);
  height: 150px;
  color: #ff7a7a;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}